*,::after,::before,h1,h2{
  box-sizing: border-box;
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
body{
  background-color: #111864;
  min-width: 100vw;
  min-height: 100vh;
  box-shadow: inset 0 0 100px 0 black;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  top:27px;
  padding: 0 21px;
  &>*{
    width: 100%;
  }
  input[type="time"]{
    background-color: transparent;
    border: none;
    outline: none;
    max-width: 100px;
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
  .title{
    font-size: 32px;
    color: #ABABAB;
    text-align: center;
  }
  .times-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 41px;
    *{
      color: #D1D1D1;
      font-size: 26px;
    }

  }
  .timer-box,.boxes-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 14px;
    justify-content: space-evenly;
    &.boxes-row{
      justify-content: space-between;
      margin-top: 30px;
    }
    .circle-timer>svg{
      text{
        fill: #000;
        font-size: 26px;
        &.red{
          fill: #F00;

        }
      }
    }
  }
  .closed-box,.open-box,.scrap-container{
    width:88px;
    height: 94px;
    background-image: url("../imgs/box-closed.png");
    &.open-box{
      background-image: url("../imgs/box-open.png");
      width: 110px;

    }
    .title{
      position: absolute;
      font-size: 19px;
      font-weight: 700;
      width:100%;
      text-align: center;
      color: #FFF;
      top:100%;
    }
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    align-content: center;
    top: 10px;
    position: relative;

    input{
      width: 100%;
      text-align: center;
      font-size: 35px;
      font-weight: 700;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
  .pause-scrap-out-row{
    margin-top: 50px;


    color: #ABABAB;
    display: grid;
    grid-template-columns: 2fr 2fr ;
    grid-template-rows: 2fr 2fr ;
    align-items: center;
    justify-items: center;
    .pause-container {
      position: relative;
      grid-area: 1 / 1 / 2 / 2;
      svg{
        text{
          fill: #000;
          font-size: 20px;
        }
      }
      .texts{
        position: absolute;
        width: 100%;
        color: #000;
        text-align: center;

        &>*{
          font-weight: 700;
          font-size: 18px;
          // display: flex;
        }
        input{
          font-weight: 700;
          text-align: right;
          font-size: 18px;
          color: #000;
          background-color: transparent;
          border: none;
          outline: none;
          width: 34px;
        }
        top:38px;
        transform: translate(-1px,0);
      }
    }
    .scrap-container {
      width: 110px;
      height: 113px;
      background-image: url("../imgs/kosz.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      grid-area: 2 / 1 / 3 / 2;
      justify-content: center;
      &>*{
        width: 100%;
        text-align: center;
        color: #fff;
        font-weight: 400;
        transform: translate(-3px,11px);
      }
      h2{
        font-size: 18px;
      }
    }
    .out {
      grid-area: 1 / 2 / 3 / 3;
      background-image: url("../imgs/paper.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 165px;
      height: 187px;
      .before{
        display: flex;

        width: 105px;
        height: 89px;
        transform: translate(25px,25px);
        align-items: center;
        flex-direction: column;

        div{
          color: #000F93;
          font-family: 'MV Boli', sans-serif;
          font-size: 32px;
          display: flex;
          width: 100%;
          height:40px;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          font-style: italic;
        }
      }
      .after{
        color: #000F93;
        transform: translate(-40px,6px) rotate(4deg);
        &>*{
          text-align: right;
          font-family: 'MV Boli', sans-serif;
        }
        .all-pcs{
          font-size: 36px;
        }
        .diff{
          font-size: 30px;
          transform: translate(-10px,-22px);
          color: #006F18;
          &.red{
            color: #ED2024;
          }
        }
      }
    }

  }

}

#circleTime{
  position: absolute;
  top: 180px;
  width:0;
  opacity: 0;
}



.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  ul{

    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    padding: 0;
    width:80%;
    li{
      display: grid;
      grid-template-columns: 2fr 1fr;
      margin:5px 0;
      input{
        width: 90px;
        color: white;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
        font-size: 18px;
        text-align: center;
      }
      input[type="time"]::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
  }
  .out{
    border:1px solid gray;
    width: 150px;
    min-height: 200px;
    color: whitesmoke;
    pre{

      font-family: 'MV Boli','Courier New', Courier, monospace;
    }
  }
}